<div>
  <span class="material-icons">
    lock
  </span>
  <span> Lock</span>
</div>
<div>
  <span>
    id:
  </span>
  <span> {{entity.id}}</span>
</div>
<div>
  <span>
    building id:
  </span>
  <span> {{entity.buildingId}}</span>
</div>
<div>
  <span>
    type:
  </span>
  <span> {{entity.type}}</span>
</div>
<div>
  <span>
    name:
  </span>
  <span> {{entity.name}}</span>
</div>
<div>
  <span>
    serial number:
  </span>
  <span> {{entity.serialNumber}}</span>
</div>
<div>
  <span>
    floor:
  </span>
  <span> {{entity.floor}}</span>
</div>
<div>
  <span>
    room number:
  </span>
  <span> {{entity.roomNumber}}</span>
</div>
<div>
  <span>
    description:
  </span>
  <span> {{entity.description}}</span>
</div>
