<div>
  <span class="material-icons">
    vpn_key
  </span>
  <span> medium</span>
</div>
<div>
  <span>
    id:
  </span>
  <span> {{entity.id}}</span>
</div>
<div>
  <span>
    group id:
  </span>
  <span> {{entity.groupId}}</span>
</div>
<div>
  <span>
    type:
  </span>
  <span> {{entity.type}}</span>
</div>
<div>
  <span>
    owner:
  </span>
  <span> {{entity.owner}}</span>
</div>
<div>
  <span>
    serial number:
  </span>
  <span> {{entity.serialNumber}}</span>
</div>
<div>
  <span>
    description:
  </span>
  <span> {{entity.description}}</span>
</div>
