<h1>Hello, world!</h1>
<mat-form-field>
  <input matInput placeholder="Search" (change)="loadData()" #SearchInput>
</mat-form-field>
<div class="spinner-container" *ngIf="dataSource.loading$ | async">

  <mat-spinner></mat-spinner>

</div>
<mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="type">
    <mat-header-cell *matHeaderCellDef>Type</mat-header-cell>
    <mat-cell class="type-image-container" *matCellDef="let entity">
      
      <ng-container [ngSwitch]="entity.type.toString()">
        <span class="material-icons" *ngSwitchCase="'Building'" [matTooltip]="entity.type.toString()">
          house
        </span>
        <span class="material-icons" *ngSwitchCase="'Lock'" [matTooltip]="entity.type.toString()">
          lock
        </span>
        <span class="material-icons" *ngSwitchCase="'Group'" [matTooltip]="entity.type.toString()">
          groups
        </span>
        <span class="material-icons" *ngSwitchCase="'Medium'" [matTooltip]="entity.type.toString()">
          vpn_key
        </span>

      </ng-container>
      
      
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>Type</mat-header-cell>
    <mat-cell class="type-name-container" *matCellDef="let entity">{{entity.name}}{{entity.owner}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="description">
    <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
    <mat-cell class="description-container" *matCellDef="let entity">{{entity.description}}</mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns:displayedColumns"></mat-row>
</mat-table>