<mat-form-field>
  <input matInput placeholder="Search" (change)="loadData()" #SearchInput>
</mat-form-field>
<div class="spinner-container" *ngIf="dataSource.loading$ | async">

  <mat-spinner></mat-spinner>

</div>
<mat-table [dataSource]="dataSource" multiTemplateDataRows>
  <ng-container matColumnDef="type">
    <mat-header-cell *matHeaderCellDef>Type</mat-header-cell>
    <mat-cell *matCellDef="let entity">
      
      <ng-container [ngSwitch]="entity.entityType.toString()">
        <span class="material-icons" *ngSwitchCase="'Building'" [matTooltip]="entity.entityType.toString()">
          house
        </span>
        <span class="material-icons" *ngSwitchCase="'Lock'" [matTooltip]="entity.entityType.toString()">
          lock
        </span>
        <span class="material-icons" *ngSwitchCase="'Group'" [matTooltip]="entity.entityType.toString()">
          groups
        </span>
        <span class="material-icons" *ngSwitchCase="'Medium'" [matTooltip]="entity.entityType.toString()">
          vpn_key
        </span>

      </ng-container>
      
      
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>Name/Owner</mat-header-cell>
    <mat-cell *matCellDef="let entity">{{entity.name}}{{entity.owner}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="description">
    <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
    <mat-cell *matCellDef="let entity">{{entity.description}}</mat-cell>
  </ng-container>

<!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
<ng-container matColumnDef="expandedDetail">
  <mat-cell *matCellDef="let entity" [attr.colspan]="displayedColumns.length">
    <div class="example-element-detail" [@detailExpand]="selectedEntity === entity ? 'expanded' : 'collapsed'">
      <ng-container [ngSwitch]="entity.entityType.toString()">
        <app-building-details [entity]="entity" *ngSwitchCase="'Building'"></app-building-details> 
        <app-lock-details [entity]="entity" *ngSwitchCase="'Lock'"></app-lock-details>
        <app-group-details [entity]="entity" *ngSwitchCase="'Group'"></app-group-details>
        <app-medium-details [entity]="entity" *ngSwitchCase="'Medium'"></app-medium-details>
      </ng-container>
    </div>
  </mat-cell>
</ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns:displayedColumns" class="example-element-row"
      [class.example-expanded-row]="selectedEntity === row"
      (click)="selectedEntity = row"></mat-row>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</mat-table>
